@import "tailwindcss";
@import "@fontsource/manrope/400.css";
@import "@fontsource/manrope/500.css";
@import "@fontsource/manrope/700.css";
@import "@fontsource/manrope/800.css";
@theme {
  --color-background: #f8fafc;
  --color-foreground: #0f172a;

  --color-card: #ffffff;
  --color-card-foreground: #0f172a;

  --color-primary: #6d5dfc;
  --color-primary-foreground: #ffffff;

  --color-secondary: #f1f5f9;
  --color-muted: #64748b;

  --color-border: #e2e8f0;

  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;

  --color-sidebar: #0f172a;
  --color-sidebar-foreground: #ffffff;
}
body {
  font-family: "Manrope", sans-serif;
}